HELP.md

#----maven----
target/


#---Eclipse------
### STS ###
.classpath
.factorypath
.project
.settings


### IntelliJ IDEA ###
.idea
*.iml
out/



### VS Code ###
.vscode/

#---SISTEMA OPERATIVO---
.DS_Store
Thumbs.db